@use '../base';

body {
	font-family: 'Muli', 'Sans-serif';
	background-color: #f6f7fb;
	flex-flow: row;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
	&::before {
		content: '';
		background-color: #e0e0e0;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		height: 4px;
		width: 100%;
		z-index: -1;
	}
}

.progress {
	background-color: $blue;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: 400ms ease;
}

.circle {
	background-color: #fff;
	color: #999;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #e0e0e0;
	transition: 400ms ease;
	&.active {
		border-color: $blue;
	}
}

.btn {
	background-color: $blue;
	color: #fff;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	font-family: inherit;
	padding: 8px 30px;
	margin: 5px;
	font-size: 14px;
	&:active {
		transform: scale(0.98);
	}
	&:focus {
		outline: 0;
	}
	&:disabled {
		background-color: #e0e0e0;
		cursor: not-allowed;
	}
}
