*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Sans-serif';
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
